/* a commeent*/
body  {
  font-family: 'Tangerine', serif;
  font-size: 100px;
  color:white;
  text-shadow: 4px 4px 4px #aaa;
  background-color: #099;
}
.row {
	background-color: #099;
}

.home_sliding_bg {
    color: #FFFFFF;
    background: #f06;

   /*  box-shadow: inset 0 0 0 0 #C14800; */
   box-shadow: inset 0 0 0 0 #FFFFFF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.home_sliding_bg:hover {
    /* box-shadow: inset 0 100px 0 0 #C14800; */
    box-shadow: inset 0 100px 0 0 #FFFFFF;
}
.photos_sliding_bg {
    color: #FFFFFF;
    background: #f06;
   /*  box-shadow: inset 0 0 0 0 #b3bc20; */
     box-shadow: inset 0 0 0 0 #FFFFFF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.photos_sliding_bg:hover {
 /*    box-shadow: inset 0 100px 0 0 #69c; */
    box-shadow: inset 0 100px 0 0 #FFFFFF;
}
.videos_sliding_bg {
   color: #FFFFFF;
    background: #f06;
    /* box-shadow: inset 0 0 0 0 #bc1339; */
     box-shadow: inset 0 0 0 0 #FFFFFF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.videos_sliding_bg:hover {
    /* box-shadow: inset 0 100px 0 0 #b3bc20; */
     box-shadow: inset 0 100px 0 0 #FFFFFF;
}
.funfacts_sliding_bg {
    color: #FFFFFF;
    background:#f06;
    /* box-shadow: inset 0 0 0 0 #ff5d00; */
     box-shadow: inset 0 0 0 0 #FFFFFF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.funfacts_sliding_bg:hover {
    /* box-shadow: inset 0 100px 0 0 #00e1ff; */
     box-shadow: inset 0 100px 0 0 #FFFFFF;
}
.guest_sliding_bg {
    color: #FFFFFF;
    background:#f06;
    /* box-shadow: inset 0 0 0 0 #a77658; */
     box-shadow: inset 0 0 0 0 #FFFFFF;
	-webkit-transition: all ease 0.8s;
	-moz-transition: all ease 0.8s;
	transition: all ease 0.8s;
}
.guest_sliding_bg:hover {
    /* box-shadow: inset 0 100px 0 0 #8433ff; */
     box-shadow: inset 0 100px 0 0 #FFFFFF;
}
.welcome{
	font-style: bold;
	font-size: 100px;
	color:#066;
	font-family: calibri;
	font-stretch: 100px;
}
.borders{
	border: 2px solid red;
	/* background-color:yellow; */
	
	height:60px;
}
.colspan1{
	height: 200px;
	width:100%;
	background-color: #099;
}
.colspan2{
	margin-left:200px;
	height:550px;

}
.logo{
 background-image:url(../images/shreya-all/one.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}